﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>Hizmetlerimiz</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Anasayfa</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                    Hizmetlerimiz
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
    </div><!-- /.container -->
</div>
<section class="service-single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="service-sidebar">
                    <ul class="service-catergory" style="width:300px;">
                        <li id="ceza" class="active" style="cursor:pointer"><a>Ceza Hukuku Danışmanlığı</a> <span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="aile" style="cursor:pointer"><a>Aile Hukuku Çözümleri</a><span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="ticaret" style="cursor:pointer"><a>Ticaret Hukuku Danışmanlığı</a><span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="gayrimenkul" style="cursor:pointer"><a>Gayrimenkul Hukuku Danışmanlığı</a><span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="is" style="cursor:pointer"><a>İş Hukuku Danışmanlığı</a><span class="view-all-icon fa fa-caret-right"></span></li>

                    </ul>
                    <br>
                    <br>

                </div>
            </div>

            <div class="col-md-9" id="cezaDiv">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="~/Content/Site/images/project/1.jpg" />
                            </figure>
                        </div>
                    </div>
                    <br>
                    <div class="inner-title">
                        <h3>Ceza Hukuku Danışmanlığı</h3>
                    </div>
                    <div class="text" style="font-weight:bold;">
                        Ceza Hukuku Danışmanlığı, bireylerin veya şirketlerin ceza hukukuyla ilgili konularda hukuki destek almasını sağlayan bir hizmettir. Bu hizmet, suçlamalarla ilgili savunma stratejilerinin oluşturulması, yargılama sürecindeki hakların korunması ve adil bir sonuç elde etmek için mücadele etmekten oluşur.</br>
                        </br>
                        Ceza hukuku danışmanlığının temel bileşenleri şunlardır:</br>
                        </br>
                        Suçlamalarla İlgili Savunma Stratejileri: Müvekkillerin suçlamalarla başa çıkması için avukatlar, savunma stratejileri geliştirirler. Bu stratejiler, delillerin incelenmesi, tanık ifadelerinin hazırlanması ve savunma argümanlarının oluşturulması gibi adımları içerir.</br>
                        Hakların Korunması: Ceza davalarında, müvekkillerin hukuki haklarının korunması önemlidir. Bu, kanıtların yasal olarak elde edilmesi, haksız arama ve gözaltı durumlarında müvekkillerin savunulması gibi konuları içerir.</br>
                        Adil Yargılama Süreci: Ceza hukuku danışmanları, müvekkillerin adil bir yargılama süreci geçirmesini sağlamak için çaba gösterirler. Bu, hukuki prosedürlerin doğru şekilde takip edilmesi, savunmanın serbestçe ifade edilmesi ve adil bir jüri seçimi yapılması gibi adımları içerir.</br>
                        Ceza Davalarında Temsil: Ceza hukuku danışmanları, müvekkillerini mahkemede temsil ederler. Bu, delillerin sunulması, tanıkların sorgulanması ve savunma argümanlarının sunulması gibi adımları içerir.</br>
                        Ceza hukuku danışmanlığı, müvekkillerin haklarını korumak ve adil bir sonuç elde etmek için önemlidir. Profesyonel bir hukuk danışmanının yardımıyla, ceza davalarında etkili bir savunma stratejisi oluşturulabilir ve müvekkillerin haklarının korunması sağlanabilir.</br></br>
                        Bizi Tercih Edeceğinize Emin Olabilirsiniz!

                        Profesyonel ve deneyimli ekibimiz, müvekkillerimizin haklarını korumak ve en iyi sonuçları elde etmek için her zaman yanınızdadır. Hukuki sorunlarınızda bize danışarak güvenle adım atabilirsiniz.
                    </div>
                </div>
            </div>

            <div class="col-md-9" id="aileDiv">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="~/Content/Site/images/project/2.jpg" />
                            </figure>
                        </div>
                    </div>
                    <br>

                    <div class="inner-title">
                        <h3>Aile Hukuku Çözümleri</h3>
                    </div>
                    <div class="text" style="font-weight:bold;">
                        Aile Hukuku Çözümleri, aile içi hukuki konuları ele alır ve çözüm odaklı yaklaşımlar sunar. Boşanma, velayet, nafaka, mal paylaşımı ve evlat edinme gibi konularda hukuki danışmanlık ve temsil hizmetleri sağlar.</br>
                        </br>
                        Aile hukuku çözümlerinin temel bileşenleri şunlardır:</br>
                        </br>
                        Boşanma ve Ayrılık Süreci: Boşanma veya ayrılık sürecinde, çiftlerin hukuki haklarının korunması ve adil bir anlaşmanın sağlanması önemlidir. Aile hukuku danışmanları, müvekkillerine bu süreçte rehberlik eder ve anlaşmazlıkların uygun bir şekilde çözülmesine yardımcı olur.</br>
                        Velayet ve Ziyaret Hakkı: Çocuğun velayeti ve ziyaret hakkı konularında, ebeveynlerin hakları ve çocuğun en iyi çıkarları gözetilmelidir. Aile hukuku danışmanları, müvekkillerin çocuklarıyla olan ilişkilerinin korunmasına yardımcı olur ve velayetin adil bir şekilde belirlenmesine destek verir.</br>
                        Nafaka ve Mal Paylaşımı: Boşanma durumunda, nafaka ve mal paylaşımı gibi maddi konular da ele alınmalıdır. Aile hukuku danışmanları, müvekkillerin haklarını savunur ve adil bir mali düzenlemenin sağlanmasına yardımcı olur.</br>
                        Evlat Edinme ve Vasiyetname Hazırlığı: Evlat edinme süreci veya vasiyetname hazırlığı gibi konularda da aile hukuku danışmanlığı gereklidir. Profesyonel danışmanlık, bu süreçlerin yasal gereksinimlerini anlamak ve uygun adımları atmak için önemlidir.</br>
                        Aile hukuku çözümleri, aile içi anlaşmazlıkların barışçıl bir şekilde çözülmesine ve tarafların haklarının korunmasına yardımcı olur.</br>
                        </br>
                        Bizi Tercih Edeceğinize Emin Olabilirsiniz!</br>
                        </br>
                        Profesyonel ve deneyimli ekibimiz, aile hukuku konularında size rehberlik etmek ve haklarınızı korumak için burada. Aile hukuku çözümleri konusunda bize güvenebilirsiniz.
                    </div>
                </div>
            </div>
            <div class="col-md-9" id="ticaretDiv">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="~/Content/Site/images/project/3.jpg">
                            </figure>
                        </div>
                    </div>
                    <br>
                    <div class="inner-title">
                        <h3>Ticaret Hukuku Danışmanlığı</h3>
                    </div>
                    <div class="text" style="font-weight:bold;">
                        Ticaret Hukuku Danışmanlığı, işletmelerin ticari faaliyetlerini yürütürken karşılaşabilecekleri hukuki konuları ele alır. Bu hizmet, şirket kuruluşu, sözleşme hazırlığı, ticari anlaşmazlıkların çözümü, rekabet hukuku ve tüketici koruma gibi konularda hukuki danışmanlık sağlar.</br>
                        </br>
                        Ticaret hukuku danışmanlığının temel bileşenleri şunlardır:</br>
                        </br>
                        Şirket Kuruluşu ve Sözleşme Hazırlığı: Ticaret hukuku danışmanları, işletmelerin kuruluş aşamasında ve işletme sözleşmelerinin hazırlanmasında yardımcı olurlar. Şirket kuruluşu, hissedarlar arası anlaşmalar, işletme sözleşmeleri gibi konularda doğru adımlar atılmasını sağlarlar.</br>
                        Ticari Anlaşmalar ve Sözleşmeler: Ticaret hukuku danışmanları, işletmelerin ticari anlaşmalarını ve sözleşmelerini hazırlar ve gözden geçirirler. Bu, tedarikçi sözleşmeleri, dağıtım anlaşmaları, franchise sözleşmeleri gibi ticari belgelerin hazırlanmasını içerir.</br>
                        Ticari Anlaşmazlıkların Çözümü: İşletmeler arasında çıkabilecek anlaşmazlıkların çözümü de ticaret hukuku danışmanlığının bir parçasıdır. Bu, mahkeme dışı uzlaşma, arabuluculuk veya dava açma gibi çeşitli yöntemleri içerebilir.</br>
                        Rekabet Hukuku ve Tüketici Koruma: Ticaret hukuku danışmanları, işletmelerin rekabet hukuku ve tüketici koruma mevzuatına uygun hareket etmelerine yardımcı olur. Bu, rekabet ihlalleri, tüketici şikayetleri ve rekabetçi piyasa koşulları gibi konuları içerir.</br>
                        Ticaret hukuku danışmanlığı, işletmelerin yasal zorlukları aşmasına ve ticari faaliyetlerini güvenli bir şekilde yürütmesine yardımcı olur.</br>
                        </br>
                        Bizi Tercih Edeceğinize Emin Olabilirsiniz!</br>
                        </br>
                        Deneyimli ve uzman ekibimiz, işletmenizin ticari hukuki ihtiyaçlarına uygun çözümler sunmak için burada. Ticaret hukuku danışmanlığı konusunda bize güvenebilirsiniz.</br>
                    </div>
                </div>
            </div>
            <div class="col-md-9" id="gayrimenkulDiv">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="~/Content/Site/images/project/4.jpg" alt="" style=" ">
                            </figure>
                        </div>
                    </div>
                    <br>

                    <div class="inner-title">
                        <h3>Gayrimenkul Hukuku Danışmanlığı</h3>
                    </div>
                    <div class="text" style="font-weight:bold;">
                        Gayrimenkul Hukuku Danışmanlığı, gayrimenkul işlemleri ve mülkiyet haklarıyla ilgili hukuki konuları ele alır. Bu hizmet, emlak alım-satımı, kiralama işlemleri, tapu devri, ipotek ve inşaat sözleşmeleri gibi konularda hukuki danışmanlık ve temsil hizmetleri sağlar.</br>
                        </br>
                        Gayrimenkul hukuku danışmanlığının temel bileşenleri şunlardır:</br>
                        </br>
                        Emlak Alım-Satımı ve Kiralama İşlemleri: Gayrimenkul hukuku danışmanları, müvekkillerine emlak alım-satımı ve kiralama işlemlerinde yardımcı olurlar. Bu, sözleşme hazırlığı, tapu devri işlemleri, kira sözleşmelerinin düzenlenmesi gibi konuları içerir.</br>
                        Tapu Devri ve İpotek İşlemleri: Gayrimenkulün devri ve ipotek işlemleri de gayrimenkul hukuku danışmanlığının bir parçasıdır. Danışmanlar, tapu devri sürecinde müvekkillerine rehberlik eder ve ipotek işlemlerinin yasal gereksinimlerini yönetirler.</br>
                        İnşaat Sözleşmeleri ve Projeler: İnşaat projeleri ve sözleşmeleri, gayrimenkul hukuku danışmanlığının önemli bir alanını oluşturur. Danışmanlar, inşaat sözleşmelerinin hazırlanması, yüklenici ile müteahhit arasında anlaşmazlıkların çözümü ve inşaat projelerinin yasal gereksinimlerinin yönetilmesi gibi konularda yardımcı olurlar.</br>
                        Gayrimenkul Anlaşmazlıkları ve Davalar: Gayrimenkul anlaşmazlıkları ve davaları da gayrimenkul hukuku danışmanlığının bir parçasıdır. Danışmanlar, mülkiyet hakları, kiracı-hak sahibi anlaşmazlıkları, tapu iptalleri gibi konularda müvekkillerini temsil ederler.</br>
                        Gayrimenkul hukuku danışmanlığı, müvekkillerin gayrimenkul işlemlerini güvenle yapmalarına ve haklarını korumalarına yardımcı olur.</br>
                        </br>
                        Bizi Tercih Edeceğinize Emin Olabilirsiniz!</br>
                        </br>
                        Gayrimenkul hukuku alanında uzmanlaşmış ekibimiz, müvekkillerimize güvenilir ve etkili hukuki danışmanlık sağlamak için burada. Gayrimenkul hukuku danışmanlığı konusunda bize güvenebilirsiniz.</br>
                    </div>
                </div>
            </div>

            <div class="col-md-9" id="isDiv">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="~/Content/Site/images/project/5.jpg">
                            </figure>
                        </div>
                    </div>
                    <br>

                    <div class="inner-title">
                        <h3>İş Hukuku Danışmanlığı</h3>
                    </div>
                    <div class="text" style="font-weight:bold;">
                        İş Hukuku Danışmanlığı, işverenler ve çalışanlar arasındaki ilişkileri düzenleyen hukuki konuları ele alır. Bu hizmet, iş sözleşmeleri, işçi hakları, işten çıkarma prosedürleri, işçi sendikaları ve işçi sağlığı ve güvenliği gibi konularda hukuki danışmanlık sağlar.</br>
                        </br>
                        İş hukuku danışmanlığının temel bileşenleri şunlardır:</br>
                        </br>
                        İş Sözleşmeleri ve İşçi Hakları: İş hukuku danışmanları, işverenlerin işçileriyle yapacakları iş sözleşmelerini hazırlar ve işçilerin haklarını korur. Bu, çalışma saatleri, ücret ve yan haklar gibi konuları içerir.</br>
                        İşten Çıkarma ve İşçi İlişkileri: İşten çıkarma prosedürleri ve işçi ilişkileri, iş hukuku danışmanlığının önemli bir alanını oluşturur. Danışmanlar, işverenlerin yasal gereksinimlere uygun olarak işten çıkarma işlemlerini yönetir ve işçilerin haklarını korur.</br>
                        İşçi Sendikaları ve Toplu İş Sözleşmeleri: İş hukuku danışmanları, işçi sendikalarıyla ilişkileri yönetir ve toplu iş sözleşmelerinin hazırlanması ve müzakereleri konusunda işverenlere rehberlik eder.</br>
                        İşçi Sağlığı ve Güvenliği: İşçi sağlığı ve güvenliği, iş hukuku danışmanlığının önemli bir yönünü oluşturur. Danışmanlar, işverenlerin iş sağlığı ve güvenliği yasalarına uygun olarak hareket etmelerine yardımcı olur ve işçilerin güvenli bir çalışma ortamına sahip olmalarını sağlar.</br>
                        İş hukuku danışmanlığı, işverenlerin ve çalışanların yasal haklarını anlamalarına ve uygulamalarına yardımcı olur, böylece iş ilişkilerinin sorunsuz bir şekilde yürütülmesini sağlar.</br>
                        </br>
                        Bizi Tercih Edeceğinize Emin Olabilirsiniz!</br>
                        </br>
                        Uzman ekibimiz, iş hukuku konularında size rehberlik etmek ve haklarınızı korumak için burada. İş hukuku danışmanlığı konusunda bize güvenebilirsiniz.</br>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<script src="@Url.Content("~/Content/Site/js/jquery.js")"></script>

<script src="@Url.Content("~/Content/Site/js/service.js")"></script>
