
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>Biz Kimiz?</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>

<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Anasayfa</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","About")">Hakkımızda</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                    BizKimiz
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
    </div><!-- /.container -->
</div>
<section style="margin-top:50px; margin-bottom:50px; ">
    <div class="container">       
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" >
            <div class="content">
                <div class="sec-title style-2">
                    <h2>Biz <span>Kimiz?</span></h2>
                </div>
                <div class="text" style="color: black;">
                    Öncü Hukuk, hukuk alanında müvekkillerine uzman danışmanlık hizmetleri sunan bir avukatlık firmasıdır. Kurulduğumuz günden bu yana, müvekkillerimizin haklarını korumak ve adaletin sağlanmasına katkıda bulunmak için kararlılıkla çalışıyoruz.</br></br>

                    Deneyimli avukat kadromuz, çeşitli hukuk alanlarında uzmanlaşmıştır ve müvekkillerimize geniş bir yelpazede hizmet sunmaktadır. Ceza hukuku, aile hukuku, ticaret hukuku, gayrimenkul hukuku ve iş hukuku gibi farklı alanlarda uzmanlaşmış avukatlarımız, müvekkillerimize en iyi hukuki çözümleri sunmak için bir araya gelmiştir.</br></br>

                    Öncü Hukuk olarak, dürüstlük, şeffaflık ve müşteri memnuniyeti ilkelerini benimseyerek müvekkillerimizin güvenini kazanmayı ve uzun vadeli ilişkiler kurmayı hedefliyoruz. Her bir müvekkilimizin hukuki ihtiyaçlarını anlamak ve en etkili çözümleri sunmak için çaba gösteriyoruz.</br></br>

                    Siz de Öncü Hukuk ailesine katılarak, hukuki ihtiyaçlarınızı güvenle bizimle paylaşabilir ve uzman avukatlarımızın rehberliğinde adil bir sonuca ulaşabilirsiniz.</br>
                    </br>
                    <h4>Kurucuların Biyografileri</h4></br>
                    </br>
                    <h5>Hüseyin Ergin</h5></br>
                    Hüseyin, 2024 yılında Biruni Üniversitesi Hukuk Fakültesinden mezun olmuş ve hukuk kariyerine başlamıştır. Hüseyin Ergin, Ceza Hukuku konusunda uzmanlaşmış olup 3 yılı aşkın süredir bu alanda faaliyet göstermektedir. [Ayrıntılı biyografi]</br></br>
                    <h5>Fatma İslam</h5></br>
                    Fatma İslam, 2024 yılında Biruni Üniversitesi Hukuk Fakültesinden mezun olmuş ve 2 yılı aşkın süredir hukuk alanında çalışmaktadır. Özellikle Aile Hukuku konusunda geniş bir deneyime sahiptir ve birçok önemli davada başarı elde etmiştir. [Ayrıntılı biyografi]</br></br>
                    <h5>Zehra Bal</h5></br>
                    Zehra Bal, 2024 yılında Biruni Üniversitesi Hukuk Fakültesinden mezun olmuş ve 3 yılı aşkın süredir hukuk alanında çalışmaktadır. Özellikle Ticaret Hukuku konusunda geniş bir deneyime sahiptir ve birçok önemli davada başarı elde etmiştir. [Ayrıntılı biyografi]</br></br>
                    <h5>Furkan Genç</h5></br>
                    Furkan Genç, 2024 yılında Biruni Üniversitesi Hukuk Fakültesinden mezun olmuş ve 5 yılı aşkın süredir hukuk alanında çalışmaktadır. Özellikle Gayrimenkul Hukuku konusunda geniş bir deneyime sahiptir ve birçok önemli davada başarı elde etmiştir. [Ayrıntılı biyografi]</br></br>
                    <h5>Emir Doğan</h5></br>
                    Emir Doğan, 2024 yılında Biruni Üniversitesi Hukuk Fakültesinden mezun olmuş ve 4 yılı aşkın süredir hukuk alanında çalışmaktadır. Özellikle İş konusunda geniş bir deneyime sahiptir ve birçok önemli davada başarı elde etmiştir. [Ayrıntılı biyografi]</br></br>
                    <h5>Eren Kasap</h5></br>
                    Eren Kasap, 2024 yılında Biruni Üniversitesi Hukuk Fakültesinden mezun olmuş ve 7 yılı aşkın süredir hukuk alanında çalışmaktadır. Özellikle Ceza Hukuku konusunda geniş bir deneyime sahiptir ve birçok önemli davada başarı elde etmiştir. [Ayrıntılı biyografi]</br>
                </div>

                
               
            </div>
        </div>
    </div>
</section>

