
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>Hakkımızda</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>

<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="#">Anasayfa</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                    Hakkımızda
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
        <div class="pull-right">
            <a href="#" class="get-qoute"><i class="fa fa-share"></i>share</a>
        </div><!-- /.pull-right -->
    </div><!-- /.container -->
</div>
<section class="who-we-are-area padd-2">
    <div class="container">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="who-we-are-img-holder">
                <img src="~/Content/Site/images/resource/who.jpg" alt="Awesome Image" class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
                <img src="~/Content/Site/images/resource/about2.jpg" alt="Awesome Image" class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="content">
                <div class="sec-title style-2">
                    <h2>Hak<span>kımızda</span></h2>
                </div>
                <div class="text" style="font-weight:bold;">
                    Kuruluş Hikayesi

                    Öncü Hukuk, kuruluşundan bu yana hukuki meselelerde müvekkillerine profesyonel ve güvenilir bir destek sağlamayı misyon edinmiştir. Firmamızın kökenleri, kurucularımızın ortak bir vizyon etrafında bir araya gelmesiyle başladı. Her biri kendi uzmanlık alanında deneyimli olan kurucularımız, hukukun adalet ve dürüstlük temelleri üzerine kurulu olduğuna inanıyorlar ve bu değerleri temel alarak hukuk büromuzu kurduklarını ifade ediyorlar.<br />
                    <br />
                    Değerlerimiz<br />
                    <br />
                    Müvekkillerimize sunduğumuz hizmetlerde aşağıdaki temel değerleri benimsiyoruz:<br />
                    <br />
                    Müşteri Odaklılık: Müvekkillerimizin ihtiyaçlarını anlamak ve onların hukuki çıkarlarını korumak için özveriyle çalışıyoruz. Her müvekkilemizin davanın ayrıntılarına özel bir dikkat gösteriyor ve en iyi sonucu elde etmek için çaba sarf ediyoruz.<br />
                    Uzmanlık ve Deneyim: Hukuk alanındaki derin bilgi birikimimiz ve uzmanlığımız, müvekkillerimize kaliteli hizmet sunmamızı sağlar. Hukukun farklı alanlarında uzmanlaşmış avukatlarımız, her türlü hukuki meseleye etkili çözümler bulmak için bir araya gelir.<br />
                    Dürüstlük ve Şeffaflık: Müvekkillerimize karşı her zaman dürüst ve şeffaf olmayı ilke ediniyoruz.<br /> Hukuki süreçler hakkında müvekkillerimizi bilgilendirir ve onların anlayabileceği şekilde iletişim kurarız.<br />
                    Mücadele ve Adalet: Adaletin sağlanması için mücadele ederken, müvekkillerimizin haklarını savunmak için kararlılıkla çalışırız. Her davanın adil bir sonuca ulaşmasını sağlamak için hukukun bütünlüğüne ve etik değerlere bağlı kalırız.<br /><br />
                    Vizyonumuz<br />
                    <br />
                    Öncü Hukuk, hukukun doğruluğu, adaleti ve insan haklarını koruma vizyonunu benimseyerek, müvekkillerimizin hukuki ihtiyaçlarını en iyi şekilde karşılayan bir hukuk firması olmayı hedeflemektedir.<br />
                    <br />
                    Misyonumuz<br />
                    <br />
                    Müvekkillerimize, hukuki meselelerde en üst düzeyde destek ve çözümler sunarak, hukukun temel değerlerini korumak ve adaletin sağlanmasına katkıda bulunmak.<br />
                    <br />
                    Öncü Hukuk, müvekkillerimize karşı bu değerlere bağlılıkla hizmet vermeye devam edecektir. Size her türlü hukuki meselede destek olmak için buradayız. Bizimle iletişime geçmekten çekinmeyin.
                </div>
            </div>
        </div>
    </div>
</section>

