@{
    ViewBag.Title = "Giriş Yap | Narail";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Giriş Yap | Narail</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap Core Css -->
    <link href="~/Content/Admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/Content/Admin/plugins/node-waves/waves.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/Content/Admin/css/style.css" rel="stylesheet">
    <style>
        .login-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            max-width: 400px;
        }

        .alert {
            background-color: #f2dede;
            color: #a94442;
        }

        .btn {
            background-color: #e91e63;
            border-color: #e91e63;
            color: #fff;
        }

            .btn:hover {
                background-color: #d81b60;
                border-color: #d81b60;
            }

            .btn:focus,
            .btn:active {
                background-color: #c2185b;
                border-color: #c2185b;
            }

        .form-control {
            border-color: #e91e63;
        }
    </style>
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo"></div>
        <div class="card">
            <div class="body">
                <h1 style="color: #e91e63">ADMİN GİRİŞ YAP</h1>
                <div class="alert">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
                <form action="@Url.Action("Login", "AuthorAdmin")" method="post">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="material-icons col-pink">person</i></span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="email" placeholder="E-posta" required autofocus>
                        </div>
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon"><i class="material-icons col-pink">lock</i></span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Şifre" required>
                        </div>
                    </div>
                    
                    <button class="btn btn-block waves-effect" type="submit">Giriş Yap</button>
                </form>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6 align-right">
                        <a href="@Url.Action("Index","Login")">Üye Giriş</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/Content/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Content/Admin/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/Admin/plugins/node-waves/waves.js"></script>
    <!-- Validation Plugin Js -->
    <script src="~/Content/Admin/plugins/jquery-validation/jquery.validate.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/Admin/js/admin.js"></script>
    <script src="~/Content/Admin/js/pages/examples/sign-in.js"></script>
</body>
</html>
