<!--About Style One-->
<section class="about-style-one">
    <div class="outer-box clearfix">

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Section Title-->
                    <div class="sec-title">
                        <h2>Biz <span>Kimiz</span></h2>
                    </div>
                    <div class="text">
                        ÖNCÜ HUKUK, müvekkillerine güvenilir ve etkili hukuki destek sağlayan bir hukuk firmasıdır. 
                        Müvekkillerimizin ihtiyaçlarına özel çözümler sunarak, onların haklarını korumak ve başarılarına 
                        katkı sağlamak için buradayız. Profesyonel avukat kadromuzla, hukukun karmaşık dünyasında müvekkillerimize 
                        rehberlik ediyor ve en iyi sonuçları elde etmelerine yardımcı oluyoruz. İhtiyaçlarınızı anlamak ve 
                        sizin için en uygun stratejiyi belirlemek için uzmanlığımızı ve deneyimimizi kullanıyoruz.
                    </div>
                    <div class="link-btn"><a href="about.html" class="btn-style-two">Daha Fazla <span class="fa fa-long-arrow-right"></span></a></div>
                </div>
            </div>
        </div>

        <!--Image Column-->
        <div class="image-column" style="background-image:url(@Url.Content("~/Content/Site/images/resource/about.jpg"));"><div class="image"><img src="@Url.Content("~/Content/Site/images/resource/about.jpg")" alt=""></div><a href="https://www.youtube.com/watch?v=G0dzLanYW1E" class="overlay-link video-fancybox"><span class="icon fa fa-play"></span></a></div>
    </div>
</section>
