<!--Call to Action-->
<section class="call-to-action bg-1 padd-1">
    <div class="container">
        <div class="row clearfix">
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-technology"></span></div>
                    <h3>Bizi Arayın  +90 850 001 002</h3>
                    <div class="text">İstanbul, Beşiktaş, Barbaros Bulvarı, No: 123, 34353 Türkiye</div>
                </div>
            </div>
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-circular-clock-tool"></span></div>
                    <h3>Çalışma Saatleri</h3>
                    <div class="text">Pazartesi-Cumartesi 09:00-17:00 arası / Pazar günleri kapalı.</div>
                </div>
            </div>

            <!--Link Column-->
            <div class="column link-column col-md-4 col-sm-6 col-xs-12">
                <div class="link-btn5">
                    <a href="@Url.Action("Index","Contact")" class="btn-style-two">İletişim</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Services Two-->
<section class="services-two bg-1 padd-3">
    <div class="container">
        <div class="row clearfix">

            <!--Default Service Block-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-graphic-3"></span></div>
                    <h3><a href="#">İşletmelere Destek</a></h3>
                    <div class="text">İşletmenizin her adımında yanınızdayız; hukuki danışmanlık ve destek ile büyümenize rehberlik ediyoruz.</div>

                    <div class="link-btn">
                        <a href="@Url.Action("Index","Contact")" class="btn-style-three dark">Daha Fazla...</a>
                    </div>
                </div>
            </div>


            <!--Default Service Block / Active-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <h3><a href="#">24 Saat Çevrimiçi Destek</a></h3>
                    <div class="text">İhtiyacınız olduğunda her an, günün her saati, uzman ekibimizle çevrimiçi destek vermeye hazırız.</div>
                    <div class="link-btn">
                        <a href="@Url.Action("Index","Contact")" class="btn-style-three dark">Daha Fazla...</a>
                    </div>
                </div>
            </div>

            <!--Default Service Block-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-layers"></span></div>
                    <h3><a href="#">Hukuki Süreçler</a></h3>
                    <div class="text">Müvekkillerimize yol göstermek ve haklarını korumak için uzman bir ekiple birlikte çalışıyoruz.</div>
                    <div class="link-btn">
                        <a href="@Url.Action("Index","Contact")" class="btn-style-three dark">Daha Fazla...</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
