



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>Kalite politikası</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>

<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="#">Anasayfa</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                  Kalite Politikası
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
        <div class="pull-right">
            <a href="#" class="get-qoute"><i class="fa fa-share"></i>share</a>
        </div><!-- /.pull-right -->
    </div><!-- /.container -->
</div>
<section class="who-we-are-area padd-2">
    <div class="container">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="who-we-are-img-holder">
                <img src="~/Content/Site/images/resource/who.jpg" alt="Awesome Image" class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
                <img src="~/Content/Site/images/resource/about2.jpg" alt="Awesome Image" class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="content">
                <div class="sec-title style-2">
                    <h2>Kalite<span>Politikası</span></h2>
                </div>
                <div class="text" style="font-weight:bold;">
                    Kişisel Verilerin Korunması Kanunu (KVKK) Hakkında

                    KVKK, kişisel verilerin işlenmesiyle ilgili standartları belirleyen ve bireylerin verilerinin korunmasını sağlayan bir yasal düzenlemedir. Bu kanun, kişisel verilerin işlenmesi, saklanması ve kullanılmasıyla ilgili kuralları ve prosedürleri belirlerken aynı zamanda bireylerin verilerinin güvenliğini sağlamayı amaçlar.

                    KVKK'nın temel amaçları şunlardır:

                    Bireylerin Haklarını Korumak: KVKK, bireylerin kişisel verilerinin işlenmesiyle ilgili haklarını korur ve bu hakların ihlal edilmesine karşı önlemler alır.
                    Veri Sorumlularının Yükümlülükleri: Kanun, kişisel verileri işleyen kuruluşların belirli yükümlülükleri yerine getirmesini sağlar. Bu yükümlülükler, veri güvenliği önlemlerini almayı, veri sahiplerine açıklama yapmayı ve izin almayı içerir.
                    Kişisel Verilerin Korunması: KVKK, kişisel verilerin güvenli bir şekilde saklanmasını ve işlenmesini sağlar. Böylece, veri ihlalleri ve kötüye kullanımların önüne geçer.
                    Uyum ve Denetim: Kanun, kuruluşların KVKK'ya uyumunu sağlamak için denetim mekanizmaları oluşturur ve gerekli düzenlemeleri yapar.
                    KVKK'nın kapsamı, kişisel verilerin tanımı, veri sorumlusu ve veri işleyenin yükümlülükleri, veri sahibinin hakları, kişisel verilerin korunması için alınması gereken önlemler gibi pek çok konuyu içermektedir.

                    Bu web sitesi, KVKK hakkında bilgilendirme amacıyla hazırlanmıştır. Kanunun gerekliliklerine uyum sağlamak ve kişisel verilerin korunmasıyla ilgili olarak daha fazla bilgi edinmek için lütfen iletişime geçin.
                </div>
            </div>
        </div>
    </div>
</section>

