<!--Purchase Box-->
<section class="purchase-section" style="background-image: url(~/Content/Site/images/background/5.jpg""));">
    <div class="container">
        <div class="row clearfix">
            <div class="column col-md-8 col-sm-12 col-xs-12">
                <h2>En İyi Danışmanlık Şirketi Biziz! Hukukta Lideriz!</h2>
            </div>
            <div class="btn-column col-md-4 col-sm-12 col-xs-12">
                <a href="@Url.Action("Index","Contact")" class="btn-style-seven">Şimdi İletişime Geç</a>
            </div>
        </div>
    </div>
</section>
<!--End Purchase Box-->

